html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
main h1 {
    text-align: center;
}
.display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    gap: 3rem;
}
.form-input {
    margin-left: 3rem;
    max-width: 43rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;    
}
.form-input input {
    border: none;
    padding: 0.6rem 0.75rem;
    border-left: 5px solid blue;
    border-radius: .5rem;
}

.tight-fit {
    display: flex;
    flex-direction: column;    
}
.member-level {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}
.radio-box {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.cards {
  max-width: 28rem;
  padding: 2rem;

  margin: 0 auto;        
  display: flex;
  justify-content: center;
}

.membership {
  display: grid;
  grid-template-columns: repeat(1, minmax(160px, 1fr));
  gap: 1.5rem;

  justify-content: center;
  align-items: stretch;
}

.non-prof {
    background-color: green;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    text-align: center;
    color: #000;
    padding-top: .25rem;
    padding-bottom: 1rem;
}
.bronze {
    background-color: #CD7F32;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    text-align: center;
    color: #000;
    padding-top: .25rem;
    padding-bottom: 1rem;
}
.silver {
    background-color: silver;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    text-align: center;
    color: #000;
    padding-top: .25rem;
    padding-bottom: 1rem;
}
.gold {
    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    text-align: center;
    color: #000;
    padding-top: .25rem;
    padding-bottom: 1rem;
}

.membership button {    
    border: none;
    border-radius: 999px;
    padding: .6rem 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.non-prof button {
  background: #145F2B;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 /80%);
}

.bronze button {
  background: #A46327;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 /80%);
}

.silver button {
  background: #8A8A8A;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 /80%);
}

.gold button {
  background: #B8962E;
  color: white;
  box-shadow: 0 0 10px rgb(0 0 0 /80%);
}

.membership button:hover {
  filter: brightness(0.9);
}

dialog {
    width: 450px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}